@charset "UTF-8";

// # Imports
@import "compass";
// @import "compass/reset/";

@import "_common/configure";
@import "_common/mixin";

@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

// # Mixin
@mixin box($width_: 100px, $height_: $width_) {
    width: $width_;
    height: $height_;
}

// # Config

// # default
body {
    // font-family: 'Noto Sans Japanese', sans-serif;
    // background: #f0efe0;
    // color: #3c3931;
    // font-size: 0.8em;
    // vertical-align: top;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2.2em;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.8em;
}
h5 {
    font-size: 1.4em;
}
h5 {
    font-size: 1.2em;
}

.fn-hide {
    display: none;
}

body,html {
    @include box(100%);
}
body {
    position: relative;
}
.conte {
    @include box(100%);
    display: table;
    /* 画像ファイルの指定 */
    background-image: url(#{$img-path}background.jpg);
    /* 画像を常に天地左右の中央に配置 */
    background-position: center center;
    /* 画像をタイル状に繰り返し表示しない */
    background-repeat: no-repeat;
    /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
    background-attachment: fixed;
    /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
    background-size: cover;
    /* 背景画像が読み込まれる前に表示される背景のカラー */
    background-color: #000;
    .title {
        display: table-cell;
        vertical-align: middle;
        .elem-inner {
            width: 400px;
            padding: 50px;
            position: relative;
            overflow: hidden;
            background: rgba(#FFF,0.6);
        }
        header {
            font-weight: 200;
            margin-bottom: 20px;
        }
        .btn {
            background: rgb(75, 75, 75);
            @include border-radius(3px);
            padding: 5px 10px;
            color: white;
            text-decoration: none;
        }
    }
}

#stage {

    position: relative;
    line-height: 0;
    font-size: 12px;
    // width: 800px;

    .madori {
        position: absolute;
        right: 15px;
        top: 15px;
        cursor: pointer;
        $c-p: #36cda3;
        $c-p2: #364fcd;
        .m-floor {
            background: rgba($c-p, 0.5);
            border: 2px solid $c-p;
            color: white;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            @include box(100px);
            &:hover,
            &.fn-active {
                background: rgba($c-p, 0.9);
            }
        }
        .m-home {
            background: rgba($c-p2, 0.5);
            border: 2px solid $c-p2;
            color: white;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            @include box(50px,150px);
            &:hover,
            &.fn-active {
                background: rgba($c-p2, 0.9);
            }
        }
    }

    .ctrls {
        padding-top: 5px;
        p {
            background: rgb(255, 255, 255);
            color: $c-bl;
            padding: 5px 10px;
            cursor: pointer;
            margin-bottom: 5px;
            font-size: 12px;
            @include effect();
            @include border-radius(5px);
            &:hover {
                background: rgb(106, 218, 247);
            }
        }
        .fn-sp {
            display: none;
        }
        @include mediaquery-smartphone {
            display: block;
        };
    }

}

@include mediaquery-pc {
    .sp {
        display: none;
    }
}

@include mediaquery-smartphone {
    .pc {
        display: none;
    }
}

.table {
    tbody {
        th {
            background: #363636;
            color: $c-wh;
        }
    }
}

.full {
    margin: 0;
}

.modal-window {
    background: rgba($c-bl, 0.5);
    @include position(0,0);
    @include box(100%);
    z-index: 9999;
    display: table;
    position: fixed;
    vertical-align: middle;
    text-align: center;
    display: none;
    .inner {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        #stage {
            $w_: 800px;
            $h_: $w_ * 3 / 4;
            @include box($w_, $h_);
            margin: 0 auto;
            background: #FFF;
            border: 5px solid #FFF;
        }
    }
}
